* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#pic1 {
	padding-right: 30rem;
	padding-left: 30rem;
	postion: absolute;
}

#pic2 {
	width: 300px;
	height: 180px;
}

#set2 {
	position: absolute;
	margin-top: 7rem;
	margin-left: 20rem;
}

#pic3 {
	width: 300px;
	height: 180px;
	text-align: center;
}

#set3 {
	position: absolute;
	margin-top: 7rem;
	margin-left: 51rem;
}

#pic4 {
	width: 300px;
	height: 180px;
}

#set4 {
	position: absolute;
	margin-top: 7rem;
	margin-left: 81rem;
}


#bgcontainer {
	background-color: rgba(0, 0, 0, 0.5);
	height: 35rem;
	position: relative;


}

#putter {
	margin-bottom: 0;
}